<!DOCTYPE html>
<html>
<head>
    <title>Cheque Print</title>
    <style>
        .cheque {
            border: 1px solid #000;
            padding: 20px;
            width: 600px;
            height: 300px;
            position: relative;
        }
        .amount {
            position: absolute;
            top: 50px;
            right: 50px;
        }
        .words {
            position: absolute;
            top: 100px;
            left: 50px;
        }
    </style>
</head>
<body>
    <div class="cheque">
        <div class="amount">
            Rs. {{ amount }}
        </div>
        <div class="words">
            {{ words }}
        </div>
    </div>
</body>
</html>